@import "tailwindcss";

@theme {
  /* Основные цвета */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #f9f9f9;
  --color-primary-violet: #1919ef;

  /* Акцентные цвета */
  --color-accent-mint: #58ffff;
  --color-accent-raspberry: #dd41db;

  /* Дополнительные цвета */
  --color-additional-melissa: #3cffb9;
  --color-additional-sakura: #ff82be;

  /* Фоновые цвета */
  --color-background-cumin: #060698;
  --color-background-iris: #6088e4;
  --color-background-viola: #bdcefa;
  --color-background-henbane: #8e98a4;
  --color-background-lily: #dee1ee;

  --font-gazprom: var(--font-gazprom-font);
  --font-halvar: var(--font-halvar-font);
}

@layer utilities {
  @keyframes pulse-outline {
    0%,
    100% {
      outline-offset: 2px;
      outline-color: #ffffff;
    }
    50% {
      outline-offset: 8px;
      outline-color: transparent;
    }
  }

  .animate-pulse-outline {
    animation: pulse-outline 1s ease-in-out infinite;
  }
}
